# Week 12 Homework - Generate fake data

Extend the class `FakeDataGenerator` and add the following features to the extended class.

* Email address
* Phone number
* Person's name
* Year born. (Use realistic values.)
* Number of kids. (Use realistic values.)
* Marital status. (Single/Married) 
* Annual income. (Optional challenge: Use a non-uniform distribution)

* have a method to write it to a file in csv format

In [4]:
pip install faker

Requirement already satisfied: faker in c:\users\nitya\anaconda3\lib\site-packages (8.13.2)
Requirement already satisfied: text-unidecode==1.3 in c:\users\nitya\anaconda3\lib\site-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\nitya\anaconda3\lib\site-packages (from faker) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\nitya\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import random
from faker import Faker

In [37]:
# Use this or replace this with yours from your week10 hw. (It's up to you.)

import pandas as pd
import random
from faker import Faker

class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` length
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
          
        self.fake = Faker()
        
        if df is not None:
            self.df = df
            self.rows = len(df)
        else:
            self.df = pd.DataFrame()
            self.rows = rows
        
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [random.randint(small_value,high_value) for i in range(self.rows)]
        
        return self.df       
    
        
    def add_name(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.df[column_name] = [self.fake.first_name() for i in range(self.rows)]
        
        return self.df
    
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.last_name() for i in range(self.rows)]
        
        return self.df
    
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.df[column_name] = [self.fake.email() for i in range(self.rows)]
        
        return self.df
    
    
    def add_phone_number(self, column_name):
        """
        adds fake phone number to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.phone_number() for i in range(self.rows)]
        
        return self.df
    
    
    def add_address(self, column_name):
        """
        adds fake address to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.address() for i in range(self.rows)]
        
        return self.df

In [38]:
import pandas as pd

# Case 1 - existing data frame 
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(25)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [39]:
fakeGen = FakeDataGenerator(df) # I'm creating instance using existing df
fakeGen.add_name('name')
fakeGen.add_last_name('lastname')
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')

,product_id,name,lastname,shipping_address,billing_address,customer_phone
0,123,Kathryn,Thompson,Unit 6627 Box 7702\nDPO AA 21519,"844 Joseph Rapids\nWest Maria, AZ 18049",+1-267-811-2190x08064
1,124,Eric,Mayer,"069 Stevenson Dam\nNew William, NC 62164","602 William Roads\nClarkmouth, ME 91903",076-036-4020
2,125,Carrie,Hamilton,"86512 May Burg Suite 990\nBrittanyton, AR 03271","5705 Shaun Course\nEast Sean, GA 48171",(610)813-0179x16921
3,126,Karen,Perry,"762 Karen Fork Suite 476\nLake Kimberly, FL 96184","4228 Douglas Club Apt. 666\nWest Tamaraberg, N...",9525017130
4,127,Arthur,Fitzgerald,"8693 Amy River Apt. 073\nJohnsonton, VA 10293",USCGC Nelson\nFPO AE 58683,550-451-6587
5,128,Donald,Ramirez,"21523 Case Place\nWest Duane, VA 09377","5557 Black Camp Apt. 087\nSmithchester, SD 30291",116-067-5104
6,129,Laurie,Green,"82478 Theodore Freeway\nJohnstad, GA 38649","0706 Robert Ford\nSmithmouth, WI 88847",(641)351-6550x12639
7,130,James,Martinez,"5996 William Station\nEast Eric, NM 41525","78774 Karen Court\nLake Julia, PA 48051",(168)713-3592
8,131,Patricia,Valdez,"5246 Elizabeth Manor Apt. 291\nNorth Douglas, ...","26591 Emma Valleys Apt. 029\nAndrewstad, DE 48386",(421)536-7444
9,132,Rebecca,Woodard,"26292 Norman Way Apt. 120\nWilliamsbury, IL 95167","52961 Trevor Neck\nEast Lauramouth, UT 79828",(243)592-3910x966
10,133,Kyle,Deleon,7280 Justin Ferry Suite 111\nPort Christophers...,"457 Timothy Port\nNew Kathrynland, GA 95457",001-786-689-8448x10523
11,134,Jorge,Taylor,"09182 Jason Stravenue\nLake Rachael, MD 09416","299 Dorothy Pass\nLake Jared, IN 21573",+1-027-796-5947x78074
12,135,Laura,Jones,"26105 Wilson Stream Suite 335\nWest Laura, WA ...","1971 Kristina Skyway\nNorth Donna, WY 29953",595-504-5077
13,136,Sandra,Haney,"261 Vanessa Plain\nFloresbury, NY 38490","917 Cook Meadows\nKennethshire, MN 56052",656.050.9823
14,137,Alejandro,Smith,"68090 Berry Pike\nStephenborough, MN 33001","552 Nancy Avenue Apt. 229\nMichaeltown, IN 45591",907.547.9012
15,138,Mariah,Green,"73295 Sanders Roads Apt. 212\nSmithberg, AL 37127","2462 Eric Light\nNew Robinmouth, PA 01236",6203858984
16,139,Misty,Proctor,"20229 Adkins Lane\nWest Michelle, AK 62052","PSC 1467, Box 1424\nAPO AE 03737",184-216-6305
17,140,Joshua,Flynn,"981 Ward Streets\nMichellefurt, CA 71070","55404 Seth Lodge\nEast Catherine, NJ 57420",553-989-9480
18,141,Reginald,Jarvis,"09258 Castillo Turnpike\nSouth Jesse, RI 41893","7698 Anthony Ferry\nMirandachester, OK 01309",+1-516-477-2474x003
19,142,Samantha,Smith,"14307 Bryant Springs\nSouth Tami, OR 85513","321 Brian Prairie Apt. 222\nSampsonport, WI 80158",(383)488-8384x53129
20,143,Gregory,Blanchard,"53030 Maria Prairie\nCookport, VA 52829","451 Terry Trafficway Apt. 554\nHillton, MS 07499",572-661-6291x69276
21,144,Andrea,Scott,"43189 Lisa Branch\nNew Lisahaven, KY 18876","938 Amy Ramp Suite 798\nEast Hollyfurt, AR 78304",053.486.6855x195
22,145,Donald,Harris,"510 Joseph Ferry\nPort Loriland, NV 58571","2854 Smith Estate\nNorth Willie, MT 08002",2846050321
23,146,David,Evans,41771 Garrett Wells Suite 158\nNorth Ronaldpor...,"3498 Morgan Plaza\nNorth Samanthaport, KY 62488",001-474-402-0247x68236
24,147,Charles,Jones,"1994 Patricia Trail\nSouth Ericchester, CT 29682","223 Kelsey Valley\nLawsonport, WY 38902",(173)205-9459x76951

In [102]:
# complete this 
class PocDataGenerator(FakeDataGenerator):
    
    def add_year_born(self, column_name):# Adding dateofbirth
        
        self.df[column_name] = [self.fake.date_of_birth() for i in range(self.rows)]
        
        return self.df
    
    def add_number_of_kids(self, column_name):
    
        self.df[column_name] = [random.randint(1,5) for i in range(self.rows)]
        
        return self.df 
    
    def add_status(self, column_name): 
        
        status = ['Single', 'Married']
        self.df[column_name] = [random.choice(status) for i in range(self.rows)]
        
        return self.df       
    
    def add_income(self, column_name):
        
        self.df[column_name] = [random.randint(10000,1000000) for i in range(self.rows)]
        
        return self.df

In [103]:
g = PocDataGenerator()

In [107]:
g.add_address('home_address')
g.add_year_born('year_born')
g.add_number_of_kids('number_of_kids')
g.add_status('status')
g.add_income('income')

,home_address,year_born,number_of_kids,status,income
0,"506 Wallace Trail\nDennisburgh, NJ 39549",1965-03-21,2,Single,528784
1,"39924 Tate Mountain Apt. 081\nLake Daniel, MI ...",1939-05-20,4,Married,663293
2,"PSC 2267, Box 4847\nAPO AP 46085",2014-02-09,5,Married,840202
3,"PSC 9241, Box 7379\nAPO AP 41635",2000-02-10,4,Married,262430
4,57452 Sweeney Extension Suite 504\nPort Johnny...,1973-03-24,5,Single,845215

In [108]:
df.to_csv(r'c:\users\nitya\anaconda3\lib\site-packages.csv')
df

,product_id,name,lastname,shipping_address,billing_address,customer_phone
0,123,Kathryn,Thompson,Unit 6627 Box 7702\nDPO AA 21519,"844 Joseph Rapids\nWest Maria, AZ 18049",+1-267-811-2190x08064
1,124,Eric,Mayer,"069 Stevenson Dam\nNew William, NC 62164","602 William Roads\nClarkmouth, ME 91903",076-036-4020
2,125,Carrie,Hamilton,"86512 May Burg Suite 990\nBrittanyton, AR 03271","5705 Shaun Course\nEast Sean, GA 48171",(610)813-0179x16921
3,126,Karen,Perry,"762 Karen Fork Suite 476\nLake Kimberly, FL 96184","4228 Douglas Club Apt. 666\nWest Tamaraberg, N...",9525017130
4,127,Arthur,Fitzgerald,"8693 Amy River Apt. 073\nJohnsonton, VA 10293",USCGC Nelson\nFPO AE 58683,550-451-6587
5,128,Donald,Ramirez,"21523 Case Place\nWest Duane, VA 09377","5557 Black Camp Apt. 087\nSmithchester, SD 30291",116-067-5104
6,129,Laurie,Green,"82478 Theodore Freeway\nJohnstad, GA 38649","0706 Robert Ford\nSmithmouth, WI 88847",(641)351-6550x12639
7,130,James,Martinez,"5996 William Station\nEast Eric, NM 41525","78774 Karen Court\nLake Julia, PA 48051",(168)713-3592
8,131,Patricia,Valdez,"5246 Elizabeth Manor Apt. 291\nNorth Douglas, ...","26591 Emma Valleys Apt. 029\nAndrewstad, DE 48386",(421)536-7444
9,132,Rebecca,Woodard,"26292 Norman Way Apt. 120\nWilliamsbury, IL 95167","52961 Trevor Neck\nEast Lauramouth, UT 79828",(243)592-3910x966
10,133,Kyle,Deleon,7280 Justin Ferry Suite 111\nPort Christophers...,"457 Timothy Port\nNew Kathrynland, GA 95457",001-786-689-8448x10523
11,134,Jorge,Taylor,"09182 Jason Stravenue\nLake Rachael, MD 09416","299 Dorothy Pass\nLake Jared, IN 21573",+1-027-796-5947x78074
12,135,Laura,Jones,"26105 Wilson Stream Suite 335\nWest Laura, WA ...","1971 Kristina Skyway\nNorth Donna, WY 29953",595-504-5077
13,136,Sandra,Haney,"261 Vanessa Plain\nFloresbury, NY 38490","917 Cook Meadows\nKennethshire, MN 56052",656.050.9823
14,137,Alejandro,Smith,"68090 Berry Pike\nStephenborough, MN 33001","552 Nancy Avenue Apt. 229\nMichaeltown, IN 45591",907.547.9012
15,138,Mariah,Green,"73295 Sanders Roads Apt. 212\nSmithberg, AL 37127","2462 Eric Light\nNew Robinmouth, PA 01236",6203858984
16,139,Misty,Proctor,"20229 Adkins Lane\nWest Michelle, AK 62052","PSC 1467, Box 1424\nAPO AE 03737",184-216-6305
17,140,Joshua,Flynn,"981 Ward Streets\nMichellefurt, CA 71070","55404 Seth Lodge\nEast Catherine, NJ 57420",553-989-9480
18,141,Reginald,Jarvis,"09258 Castillo Turnpike\nSouth Jesse, RI 41893","7698 Anthony Ferry\nMirandachester, OK 01309",+1-516-477-2474x003
19,142,Samantha,Smith,"14307 Bryant Springs\nSouth Tami, OR 85513","321 Brian Prairie Apt. 222\nSampsonport, WI 80158",(383)488-8384x53129
20,143,Gregory,Blanchard,"53030 Maria Prairie\nCookport, VA 52829","451 Terry Trafficway Apt. 554\nHillton, MS 07499",572-661-6291x69276
21,144,Andrea,Scott,"43189 Lisa Branch\nNew Lisahaven, KY 18876","938 Amy Ramp Suite 798\nEast Hollyfurt, AR 78304",053.486.6855x195
22,145,Donald,Harris,"510 Joseph Ferry\nPort Loriland, NV 58571","2854 Smith Estate\nNorth Willie, MT 08002",2846050321
23,146,David,Evans,41771 Garrett Wells Suite 158\nNorth Ronaldpor...,"3498 Morgan Plaza\nNorth Samanthaport, KY 62488",001-474-402-0247x68236
24,147,Charles,Jones,"1994 Patricia Trail\nSouth Ericchester, CT 29682","223 Kelsey Valley\nLawsonport, WY 38902",(173)205-9459x76951